*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.thumbs
{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  img
  {
    flex-grow: 1;
    transition: all 500ms;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }

    &.active {
      border: 4px solid #FF5722;
    }
  }




}

.container
{
  width: 70%;
  max-width: 900px;
  margin: 2rem auto;
}

img
{
  max-width: 100%;
}

#slide
{
  position: relative;

  img
  {
    width: 100%;

  }
}


.controls
{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);

  button {
    padding: 1rem;
    background-color: transparent;
    color: white;
    font-size: 2rem;
    border: none;

    i {
      text-shadow: 0 0 10px gray ;
    
    }

    &:hover {
      cursor: pointer;
      font-size: 2.1rem;
    }
  }
}